/* accountmanagementpage2.ejs */
function (_CONTEXT, _VIEW) {
    try {
        with (_VIEW) {
            with (_CONTEXT) {
                var ___ViewO = [];
                ___ViewO.push("<div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(CreateAccountController_DIV_CREATE_ACCOUNT_BOX_GROUP2)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(CreateAccountController_CLASS_LOGIN_BOX_GROUP)));
                ___ViewO.push("\">\n");
                ___ViewO.push("    <h5>");
                ___ViewO.push((EJS.Scanner.to_text(accountGroupPrompt)));
                ___ViewO.push("</h5>\n");
                ___ViewO.push("    <div id=\"loginModuleCreate_PatronConfirmed_2\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(CreateAccountController_CLASS_FIELD_LOGIN_ROW_TYPE1)));
                ___ViewO.push("\">\n");
                ___ViewO.push("        <label class=\"");
                ___ViewO.push((EJS.Scanner.to_text(CreateAccountController_CLASS_FIELD_LOGIN_COLUMN_TYPE1)));
                ___ViewO.push("\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("createAccountController_patron"))));
                ___ViewO.push("</label>\n");
                ___ViewO.push("        <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(CreateAccountController_SPAN_PATRON_CONFIRMED_DISPLAY)));
                ___ViewO.push("\" class=\"patronConfirmedDisplayed\"></span>\n");
                ___ViewO.push("    </div>\n");
                ___ViewO.push("\n");
                ___ViewO.push("    <div id=\"loginModuleCreate_Birthdate\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(CreateAccountController_CLASS_FIELD_LOGIN_ROW_TYPE1)));
                ___ViewO.push("\">\n");
                ___ViewO.push("        <label for=\"");
                ___ViewO.push((EJS.Scanner.to_text(CreateAccountController_INPUT_CREATE_ACCOUNT_BDAY_MONTH)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(CreateAccountController_CLASS_FIELD_LOGIN_COLUMN_TYPE1)));
                ___ViewO.push("\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("createAccountController_enterYourBirthDate"))));
                ___ViewO.push("</label>\n");
                ___ViewO.push("        ");
                var tabOrder = 0;
                ___ViewO.push("\n");
                ___ViewO.push("            ");
                tabOrder++;
                ___ViewO.push("\n");
                ___ViewO.push("            <select tabindex=\"");
                ___ViewO.push((EJS.Scanner.to_text(tabOrder)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(CreateAccountController_INPUT_CREATE_ACCOUNT_BDAY_MONTH)));
                ___ViewO.push("\">\n");
                ___ViewO.push("              <option value=\"\" selected>");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("createAccountController_month"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("              <option value=\"0\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("accountmanagementpage2_January"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("              <option value=\"1\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("accountmanagementpage2_February"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("              <option value=\"2\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("accountmanagementpage2_March"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("              <option value=\"3\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("accountmanagementpage2_April"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("              <option value=\"4\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("accountmanagementpage2_May"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("              <option value=\"5\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("accountmanagementpage2_June"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("              <option value=\"6\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("accountmanagementpage2_July"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("              <option value=\"7\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("accountmanagementpage2_August"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("              <option value=\"8\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("accountmanagementpage2_September"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("              <option value=\"9\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("accountmanagementpage2_October"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("              <option value=\"10\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("accountmanagementpage2_November"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("              <option value=\"11\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("accountmanagementpage2_December"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("            </select>\n");
                ___ViewO.push("\n");
                ___ViewO.push("        ");
                tabOrder++;
                ___ViewO.push("\n");
                ___ViewO.push("        <select tabindex=\"");
                ___ViewO.push((EJS.Scanner.to_text(tabOrder)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(CreateAccountController_INPUT_CREATE_ACCOUNT_BDAY_DAY)));
                ___ViewO.push("\">\n");
                ___ViewO.push("          <option value=\"\" selected>");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("createAccountController_day"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("          <option value=\"01\">1</option>\n");
                ___ViewO.push("          <option value=\"02\">2</option>\n");
                ___ViewO.push("          <option value=\"03\">3</option>\n");
                ___ViewO.push("          <option value=\"04\">4</option>\n");
                ___ViewO.push("          <option value=\"05\">5</option>\n");
                ___ViewO.push("          <option value=\"06\">6</option>\n");
                ___ViewO.push("          <option value=\"07\">7</option>\n");
                ___ViewO.push("          <option value=\"08\">8</option>\n");
                ___ViewO.push("          <option value=\"09\">9</option>\n");
                ___ViewO.push("          <option value=\"10\">10</option>\n");
                ___ViewO.push("          <option value=\"11\">11</option>\n");
                ___ViewO.push("          <option value=\"12\">12</option>\n");
                ___ViewO.push("          <option value=\"13\">13</option>\n");
                ___ViewO.push("          <option value=\"14\">14</option>\n");
                ___ViewO.push("          <option value=\"15\">15</option>\n");
                ___ViewO.push("          <option value=\"16\">16</option>\n");
                ___ViewO.push("          <option value=\"17\">17</option>\n");
                ___ViewO.push("          <option value=\"18\">18</option>\n");
                ___ViewO.push("          <option value=\"19\">19</option>\n");
                ___ViewO.push("          <option value=\"20\">20</option>\n");
                ___ViewO.push("          <option value=\"21\">21</option>\n");
                ___ViewO.push("          <option value=\"22\">22</option>\n");
                ___ViewO.push("          <option value=\"23\">23</option>\n");
                ___ViewO.push("          <option value=\"24\">24</option>\n");
                ___ViewO.push("          <option value=\"25\">25</option>\n");
                ___ViewO.push("          <option value=\"26\">26</option>\n");
                ___ViewO.push("          <option value=\"27\">27</option>\n");
                ___ViewO.push("          <option value=\"28\">28</option>\n");
                ___ViewO.push("          <option value=\"29\">29</option>\n");
                ___ViewO.push("          <option value=\"30\">30</option>\n");
                ___ViewO.push("          <option value=\"31\">31</option>\n");
                ___ViewO.push("        </select>\n");
                ___ViewO.push("\n");
                ___ViewO.push("        ");
                tabOrder++;
                ___ViewO.push("\n");
                ___ViewO.push("        <select tabindex=\"");
                ___ViewO.push((EJS.Scanner.to_text(tabOrder)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(CreateAccountController_INPUT_CREATE_ACCOUNT_BDAY_YEAR)));
                ___ViewO.push("\">\n");
                ___ViewO.push("          <option value=\"\" selected>");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("createAccountController_year"))));
                ___ViewO.push("</option>\n");
                ___ViewO.push("          ");
                var year = new Date().getFullYear();
                for (var i = 0; i < 100; i++) {
                    ___ViewO.push("\n");
                    ___ViewO.push("                  <option value=\"");
                    ___ViewO.push((EJS.Scanner.to_text(year - i)));
                    ___ViewO.push("\">");
                    ___ViewO.push((EJS.Scanner.to_text(year - i)));
                    ___ViewO.push("</option>\n");
                    ___ViewO.push("          ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("        </select>\n");
                ___ViewO.push("    </div>\n");
                ___ViewO.push("</div>\n");
                return ___ViewO.join("");
            }
        }
    }
    catch (e) {
        e.lineNumber = null;
        throw e;
    }
}
