/* loginwrapper.ejs */
function (_CONTEXT, _VIEW) {
    try {
        with (_VIEW) {
            with (_CONTEXT) {
                var ___ViewO = [];
                ___ViewO.push("<div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_DIV_LOGIN_BOX_ERRORS)));
                ___ViewO.push("\" style=\"display: none;\"></div>\n");
                ___ViewO.push("<div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_DIV_LOGIN_BOX_CONTENTS)));
                ___ViewO.push("\"></div>                \n");
                ___ViewO.push("\n");
                ___ViewO.push("<div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_DIV_LOGIN_BUTTONS)));
                ___ViewO.push("\" class=\"loginBoxGroup\">\n");
                ___ViewO.push("  <div id=\"loginModuleButton\">\n");
                ___ViewO.push("      <div id=\"loginModuleButton_LoginControl\" class=\"loginModuleButton_Inner\">\n");
                ___ViewO.push("          <input name=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_ACTION_LOGIN)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_ACTION_LOGIN)));
                ___ViewO.push("\" type=\"submit\" value=\"");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("loginwrapper_Login"))));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_LOGIN_BUTTONS)));
                ___ViewO.push("\">\n");
                ___ViewO.push("          <input name=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_BUTTON_NEXT)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_BUTTON_NEXT)));
                ___ViewO.push("\" value=\"");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("loginwrapper_Next"))));
                ___ViewO.push("\" type=\"button\" class=\"loginButtons\">\n");
                ___ViewO.push("          <input name=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_BUTTON_SAVE)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_BUTTON_SAVE)));
                ___ViewO.push("\" value=\"");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("loginwrapper_Save"))));
                ___ViewO.push("\" type=\"button\" class=\"loginButtons\">\n");
                ___ViewO.push("          <input name=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_BUTTON_CANCEL)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_BUTTON_CANCEL)));
                ___ViewO.push("\" value=\"");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("loginwrapper_Cancel"))));
                ___ViewO.push("\" type=\"button\" class=\"loginButtons\">\n");
                ___ViewO.push("      </div>                    \n");
                ___ViewO.push("  </div>\n");
                ___ViewO.push("  <div id=\"loginBoxRequired\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_LOGIN_BOX_GROUP)));
                ___ViewO.push("\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("createAccountController_requiredInformation"))));
                ___ViewO.push("</div>\n");
                ___ViewO.push("</div>  ");
                return ___ViewO.join("");
            }
        }
    }
    catch (e) {
        e.lineNumber = null;
        throw e;
    }
}
