/* loginresetpassword.ejs */
function (_CONTEXT, _VIEW) {
    try {
        with (_VIEW) {
            with (_CONTEXT) {
                var ___ViewO = [];
                ___ViewO.push("<div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_DIV_LOGIN_BOX_GROUP2)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_LOGIN_BOX_GROUP)));
                ___ViewO.push("\">\n");
                ___ViewO.push("  <div id=\"loginModuleUserName2\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_FIELD_LOGIN_ROW_TYPE1)));
                ___ViewO.push("\">\n");
                ___ViewO.push("      <label for=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_FIELD_USERNAME2)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_FIELD_LOGIN_COLUMN_TYPE1)));
                ___ViewO.push("\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("loginController_userName"))));
                ___ViewO.push("</label>\n");
                ___ViewO.push("      <input tabindex=\"100\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_FIELD_USERNAME2)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_FIELD_LOGIN_COLUMN_TYPE2)));
                ___ViewO.push("\" type=\"text\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_FIELD_USERNAME2)));
                ___ViewO.push("\" value=\"\" maxlength=\"50\" autocomplete=\"off\">\n");
                ___ViewO.push("  </div>\n");
                ___ViewO.push("  <div id=\"loginModulePasswordCurrent\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_FIELD_LOGIN_ROW_TYPE1)));
                ___ViewO.push("\">\n");
                ___ViewO.push("      <label for=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_FIELD_PASSWORD_CURRENT)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_FIELD_LOGIN_COLUMN_TYPE1)));
                ___ViewO.push("\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("loginController_passwordReset"))));
                ___ViewO.push("</label>\n");
                ___ViewO.push("      <input tabindex=\"101\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_FIELD_PASSWORD_CURRENT)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_FIELD_LOGIN_COLUMN_TYPE2)));
                ___ViewO.push("\" type=\"password\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_FIELD_PASSWORD_CURRENT)));
                ___ViewO.push("\" value=\"\" maxlength=\"60\" autocomplete=\"off\">\n");
                ___ViewO.push("  </div>\n");
                ___ViewO.push("  <div id=\"loginModulePasswordNew\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_FIELD_LOGIN_ROW_TYPE1)));
                ___ViewO.push("\">\n");
                ___ViewO.push("      <label for=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_FIELD_PASSWORD_NEW)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_FIELD_LOGIN_COLUMN_TYPE1)));
                ___ViewO.push("\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("loginController_newPasswordReset"))));
                ___ViewO.push("</label>\n");
                ___ViewO.push("      <input tabindex=\"102\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_FIELD_PASSWORD_NEW)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_FIELD_LOGIN_COLUMN_TYPE2)));
                ___ViewO.push("\" type=\"password\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_FIELD_PASSWORD_NEW)));
                ___ViewO.push("\" value=\"\" maxlength=\"60\" autocomplete=\"off\">\n");
                ___ViewO.push("  </div>\n");
                ___ViewO.push("  <div id=\"loginModulePasswordConfirm\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_FIELD_LOGIN_ROW_TYPE1)));
                ___ViewO.push("\">\n");
                ___ViewO.push("      <label for=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_FIELD_PASSWORD_CONFIRM)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_FIELD_LOGIN_COLUMN_TYPE1)));
                ___ViewO.push("\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("loginController_confirmNewPasswordReset"))));
                ___ViewO.push("</label>\n");
                ___ViewO.push("      <input tabindex=\"103\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_FIELD_PASSWORD_CONFIRM)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_CLASS_FIELD_LOGIN_COLUMN_TYPE2)));
                ___ViewO.push("\" type=\"password\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(LoginController_FIELD_PASSWORD_CONFIRM)));
                ___ViewO.push("\" value=\"\" maxlength=\"60\" autocomplete=\"off\">\n");
                ___ViewO.push("  </div>\n");
                ___ViewO.push("</div>");
                return ___ViewO.join("");
            }
        }
    }
    catch (e) {
        e.lineNumber = null;
        throw e;
    }
}
