/* myquestshelf.ejs */
function (_CONTEXT, _VIEW) {
    try {
        with (_VIEW) {
            with (_CONTEXT) {
                var ___ViewO = [];
                ___ViewO.push("<div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_DIV_MYQUEST_SHELVES_WRAPPER)));
                ___ViewO.push("\">\n");
                ___ViewO.push("    <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_DIV_MYQUEST_SHELVES)));
                ___ViewO.push("\">\n");
                ___ViewO.push("        <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_DIV_MYQUEST_SHELVES_HEADING)));
                ___ViewO.push("\">\n");
                ___ViewO.push("            <h3 class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_BOX_HEADER)));
                ___ViewO.push("\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestController_myQuestShelves"))));
                ___ViewO.push("</h3>\n");
                ___ViewO.push("        </div>\n");
                ___ViewO.push("        <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_DIV_MYQUEST_HAVE_READ_COUNT)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF)));
                ___ViewO.push(" ");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_DIV_MYQUEST_HAVE_READ_COUNT)));
                ___ViewO.push("\">\n");
                ___ViewO.push("            <h4>");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestController_haveRead"))));
                ___ViewO.push("</h4>\n");
                ___ViewO.push("            <p id=\"\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF_COUNT)));
                ___ViewO.push("\"><a href=\"#\" onclick=\"return false;\">0</a></p>\n");
                ___ViewO.push("        </div>\n");
                ___ViewO.push("        <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_DIV_MYQUEST_CURRENT_COUNT)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF)));
                ___ViewO.push(" ");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_DIV_MYQUEST_CURRENT_COUNT)));
                ___ViewO.push("\">\n");
                ___ViewO.push("            <h4>");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestController_nowReading"))));
                ___ViewO.push("</h4>\n");
                ___ViewO.push("            <p id=\"\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF_COUNT)));
                ___ViewO.push("\"><a href=\"#\" onclick=\"return false;\">0</a></p>\n");
                ___ViewO.push("        </div>\n");
                ___ViewO.push("        <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_DIV_MYQUEST_TO_READ_COUNT)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF)));
                ___ViewO.push(" ");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_DIV_MYQUEST_TO_READ_COUNT)));
                ___ViewO.push("\">\n");
                ___ViewO.push("            <h4>");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestController_wantToRead"))));
                ___ViewO.push("</h4>\n");
                ___ViewO.push("            <p id=\"\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF_COUNT)));
                ___ViewO.push("\"><a href=\"#\" onclick=\"return false;\">0</a></p>\n");
                ___ViewO.push("        </div>\n");
                ___ViewO.push("    </div> \n");
                ___ViewO.push("</div>\n");
                ___ViewO.push("<div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_DIV_MYQUEST_USER_PROMPT)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_INSTRUCTIONAL_WRAPPER)));
                ___ViewO.push("\">\n");
                ___ViewO.push("    <p id=\"\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_INSTRUCTIONAL_DIVIDER)));
                ___ViewO.push("\">\n");
                ___ViewO.push("        <span class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_INSTRUCTIONAL_MESSGE)));
                ___ViewO.push("\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestController_dragAndDropToOrganizeYourTitlesIntoShelvesAndLists"))));
                ___ViewO.push("</span>\n");
                ___ViewO.push("    </p>\n");
                ___ViewO.push("</div>");
                return ___ViewO.join("");
            }
        }
    }
    catch (e) {
        e.lineNumber = null;
        throw e;
    }
}
