/* myquest-preferences.ejs */
function (_CONTEXT, _VIEW) {
    try {
        with (_VIEW) {
            with (_CONTEXT) {
                var ___ViewO = [];
                ___ViewO.push("<h2 id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_HEADER_MYQUEST_PREFERENCES)));
                ___ViewO.push("\" class=\"myQuestContentHeader\"><span><em>");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_myQuestPreferences"))));
                ___ViewO.push("</em></span></h2>\n");
                ___ViewO.push("<h3 id=\"myQuestPrefHeaderShowMe\" class=\"myQuestPrefHeader\"><span class=\"\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_showMeWhenMyFriends"))));
                ___ViewO.push("</span></h3>\n");
                ___ViewO.push("    <div id=\"myQuestPrefShowMe\" class=\"myQuestPrefGroup\">\n");
                ___ViewO.push("        <p id=\"\" class=\"myQuestPrefColHeader\">\n");
                ___ViewO.push("            <span id=\"\" class=\"myQuestPrefLabels\">\n");
                ___ViewO.push("            <em id=\"\" class=\"yesLabel prefColumn\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_yes"))));
                ___ViewO.push("</em>\n");
                ___ViewO.push("            <em id=\"\" class=\"noLabel prefColumn\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_no"))));
                ___ViewO.push("</em>\n");
                ___ViewO.push("            </span>\n");
                ___ViewO.push("            <em class=\"myQuestPrefDefinition\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_chooseYourSettings"))));
                ___ViewO.push(" </em>\n");
                ___ViewO.push("        </p>\n");
                ___ViewO.push("        \n");
                ___ViewO.push("        <p id=\"\" class=\"myQuestPrefItem\">\n");
                ___ViewO.push("            <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_SPAN_MYQUEST_PREFERENCES_FRIENDS_UPDATE_THEIR_SHELVES)));
                ___ViewO.push("\" class=\"myQuestPrefControlWrapper\">\n");
                ___ViewO.push("                <em id=\"\" class=\"prefColumn\">\n");
                ___ViewO.push("                    <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_CLASS_MYQUEST_PREFERENCES_CONTROLER)));
                ___ViewO.push("\" type=\"radio\" \n");
                ___ViewO.push("                        name=\"showFriendsUpdatingShelves\" value=\"yes\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_INPUT_MYQUEST_PREFERENCES_UPDATE_FRIEND_YES)));
                ___ViewO.push("\" \n");
                ___ViewO.push("                        ");
                ___ViewO.push((EJS.Scanner.to_text(showFriendsUpdatingShelves ? "checked" : "")));
                ___ViewO.push("></em>\n");
                ___ViewO.push("                <em id=\"\" class=\"prefColumn\">\n");
                ___ViewO.push("                    <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_CLASS_MYQUEST_PREFERENCES_CONTROLER)));
                ___ViewO.push("\" type=\"radio\" \n");
                ___ViewO.push("                        name=\"showFriendsUpdatingShelves\" value=\"no\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_INPUT_MYQUEST_PREFERENCES_UPDATE_FRIEND_NO)));
                ___ViewO.push("\" \n");
                ___ViewO.push("                        ");
                ___ViewO.push((EJS.Scanner.to_text(showFriendsUpdatingShelves ? "" : "checked")));
                ___ViewO.push("></em>\n");
                ___ViewO.push("                <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_SPAN_MYQUEST_PREFERENCES_FRIENDS_UPDATE_THEIR_SHELVES_SAVED)));
                ___ViewO.push("\" class=\"myQuestSavedAlert\" style=\"display:none\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_saved"))));
                ___ViewO.push("</span>                        \n");
                ___ViewO.push("            </span>\n");
                ___ViewO.push("            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_updateTheirShelves"))));
                ___ViewO.push("\n");
                ___ViewO.push("        </p>\n");
                ___ViewO.push("        <p id=\"\" class=\"myQuestPrefItem\">\n");
                ___ViewO.push("\n");
                ___ViewO.push("            <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_SPAN_MYQUEST_PREFERENCES_FRIENDS_RATE_A_TITLE)));
                ___ViewO.push("\" class=\"myQuestPrefControlWrapper\">\n");
                ___ViewO.push("                <em id=\"\" class=\"prefColumn\">\n");
                ___ViewO.push("                    <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_CLASS_MYQUEST_PREFERENCES_CONTROLER)));
                ___ViewO.push("\" type=\"radio\" \n");
                ___ViewO.push("                        name=\"showFriendsRatingTitles\" value=\"yes\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_INPUT_MYQUEST_PREFERENCES_RATE_FRIEND_YES)));
                ___ViewO.push("\" \n");
                ___ViewO.push("                        ");
                ___ViewO.push((EJS.Scanner.to_text(showFriendsRatingTitles ? "checked" : "")));
                ___ViewO.push("></em>\n");
                ___ViewO.push("                <em id=\"\" class=\"prefColumn\">\n");
                ___ViewO.push("                    <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_CLASS_MYQUEST_PREFERENCES_CONTROLER)));
                ___ViewO.push("\" type=\"radio\" \n");
                ___ViewO.push("                        name=\"showFriendsRatingTitles\" value=\"no\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_INPUT_MYQUEST_PREFERENCES_RATE_FRIEND_NO)));
                ___ViewO.push("\" \n");
                ___ViewO.push("                        ");
                ___ViewO.push((EJS.Scanner.to_text(showFriendsRatingTitles ? "" : "checked")));
                ___ViewO.push("></em>\n");
                ___ViewO.push("                <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_SPAN_MYQUEST_PREFERENCES_FRIENDS_RATE_A_TITLE_SAVED)));
                ___ViewO.push("\" class=\"myQuestSavedAlert\" style=\"display:none\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_saved"))));
                ___ViewO.push("</span>                     \n");
                ___ViewO.push("            </span>\n");
                ___ViewO.push("            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_rateATitle"))));
                ___ViewO.push("\n");
                ___ViewO.push("        </p>\n");
                ___ViewO.push("        <p id=\"\" class=\"myQuestPrefItem\">\n");
                ___ViewO.push("            <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_SPAN_MYQUEST_PREFERENCES_FRIENDS_ADD_A_REVIEW)));
                ___ViewO.push("\" class=\"myQuestPrefControlWrapper\">\n");
                ___ViewO.push("                <em id=\"\" class=\"prefColumn\">\n");
                ___ViewO.push("                    <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_CLASS_MYQUEST_PREFERENCES_CONTROLER)));
                ___ViewO.push("\" type=\"radio\" \n");
                ___ViewO.push("                        name=\"showFriendsAddingReviews\" value=\"yes\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_INPUT_MYQUEST_PREFERENCES_ADD_FRIEND_REVIEW_YES)));
                ___ViewO.push("\" \n");
                ___ViewO.push("                        ");
                ___ViewO.push((EJS.Scanner.to_text(showFriendsAddingReviews ? "checked" : "")));
                ___ViewO.push("></em>\n");
                ___ViewO.push("                <em id=\"\" class=\"prefColumn\">\n");
                ___ViewO.push("                    <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_CLASS_MYQUEST_PREFERENCES_CONTROLER)));
                ___ViewO.push("\" type=\"radio\" \n");
                ___ViewO.push("                        name=\"showFriendsAddingReviews\" value=\"no\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_INPUT_MYQUEST_PREFERENCES_ADD_FRIEND_REVIEW_NO)));
                ___ViewO.push("\" \n");
                ___ViewO.push("                        ");
                ___ViewO.push((EJS.Scanner.to_text(showFriendsAddingReviews ? "" : "checked")));
                ___ViewO.push("></em>\n");
                ___ViewO.push("                <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_SPAN_MYQUEST_PREFERENCES_FRIENDS_ADD_A_REVIEW_SAVED)));
                ___ViewO.push("\" class=\"myQuestSavedAlert\" style=\"display: none\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_saved"))));
                ___ViewO.push("</span>                        \n");
                ___ViewO.push("            </span>\n");
                ___ViewO.push("            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_addAReview"))));
                ___ViewO.push("\n");
                ___ViewO.push("        </p>\n");
                ___ViewO.push("    <!--end .myQuestPrefGroup-->\n");
                ___ViewO.push("    </div>\n");
                ___ViewO.push("\n");
                ___ViewO.push("\n");
                ___ViewO.push("<h3 id=\"myQuestPrefHeaderShowThem\" class=\"myQuestPrefHeader\"><span class=\"\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_tellMyFriendsWhenI"))));
                ___ViewO.push("</span></h3>\n");
                ___ViewO.push("\n");
                ___ViewO.push("    <div id=\"myQuestPrefShowThem\" class=\"myQuestPrefGroup\">\n");
                ___ViewO.push("            <p id=\"\" class=\"myQuestPrefColHeader\">\n");
                ___ViewO.push("                <span id=\"\" class=\"myQuestPrefLabels\">\n");
                ___ViewO.push("                    <em id=\"\" class=\"yesLabel prefColumn\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_yes"))));
                ___ViewO.push("</em>\n");
                ___ViewO.push("                    <em id=\"\" class=\"noLabel prefColumn\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_no"))));
                ___ViewO.push("</em>\n");
                ___ViewO.push("                </span>\n");
                ___ViewO.push("                <em class=\"myQuestPrefDefinition\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_chooseYourSettings"))));
                ___ViewO.push("</em>\n");
                ___ViewO.push("\n");
                ___ViewO.push("            </p>\n");
                ___ViewO.push("            \n");
                ___ViewO.push("            \n");
                ___ViewO.push("            <p id=\"\" class=\"myQuestPrefItem\">\n");
                ___ViewO.push("                <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_SPAN_MYQUEST_PREFERENCES_I_UPDATE_SHELVES)));
                ___ViewO.push("\" class=\"myQuestPrefControlWrapper\">\n");
                ___ViewO.push("                    <em id=\"\" class=\"prefColumn\">\n");
                ___ViewO.push("                        <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_CLASS_MYQUEST_PREFERENCES_CONTROLER)));
                ___ViewO.push("\" type=\"radio\" \n");
                ___ViewO.push("                            name=\"showMeUpdatingShelves\" value=\"yes\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_INPUT_MYQUEST_PREFERENCES_UPDATE_MY_YES)));
                ___ViewO.push("\" \n");
                ___ViewO.push("                            ");
                ___ViewO.push((EJS.Scanner.to_text(showMeUpdatingShelves ? "checked" : "")));
                ___ViewO.push("></em>\n");
                ___ViewO.push("                    <em id=\"\" class=\"prefColumn\">\n");
                ___ViewO.push("                        <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_CLASS_MYQUEST_PREFERENCES_CONTROLER)));
                ___ViewO.push("\" type=\"radio\" \n");
                ___ViewO.push("                            name=\"showMeUpdatingShelves\" value=\"no\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_INPUT_MYQUEST_PREFERENCES_UPDATE_MY_NO)));
                ___ViewO.push("\" \n");
                ___ViewO.push("                            ");
                ___ViewO.push((EJS.Scanner.to_text(showMeUpdatingShelves ? "" : "checked")));
                ___ViewO.push("></em>\n");
                ___ViewO.push("                    <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_SPAN_MYQUEST_PREFERENCES_I_UPDATE_SHELVES_SAVED)));
                ___ViewO.push("\" class=\"myQuestSavedAlert\" style=\"display: none\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_saved"))));
                ___ViewO.push("</span>                            \n");
                ___ViewO.push("                </span>\n");
                ___ViewO.push("                ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_updateMyShelves"))));
                ___ViewO.push("\n");
                ___ViewO.push("            </p>\n");
                ___ViewO.push("            <p id=\"\" class=\"myQuestPrefItem\">\n");
                ___ViewO.push("                <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_SPAN_MYQUEST_PREFERENCES_I_RATE_A_TITLE)));
                ___ViewO.push("\" class=\"myQuestPrefControlWrapper\">\n");
                ___ViewO.push("                    <em id=\"\" class=\"prefColumn\">\n");
                ___ViewO.push("                        <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_CLASS_MYQUEST_PREFERENCES_CONTROLER)));
                ___ViewO.push("\" type=\"radio\" \n");
                ___ViewO.push("                            name=\"showMeRatingTitles\" value=\"yes\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_INPUT_MYQUEST_PREFERENCES_RATE_MY_YES)));
                ___ViewO.push("\" \n");
                ___ViewO.push("                            ");
                ___ViewO.push((EJS.Scanner.to_text(showMeRatingTitles ? "checked" : "")));
                ___ViewO.push("></em>\n");
                ___ViewO.push("                    <em id=\"\" class=\"prefColumn\">\n");
                ___ViewO.push("                        <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_CLASS_MYQUEST_PREFERENCES_CONTROLER)));
                ___ViewO.push("\" type=\"radio\" \n");
                ___ViewO.push("                            name=\"showMeRatingTitles\" value=\"no\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_INPUT_MYQUEST_PREFERENCES_RATE_MY_NO)));
                ___ViewO.push("\" \n");
                ___ViewO.push("                            ");
                ___ViewO.push((EJS.Scanner.to_text(showMeRatingTitles ? "" : "checked")));
                ___ViewO.push("></em>\n");
                ___ViewO.push("                    <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_SPAN_MYQUEST_PREFERENCES_I_RATE_A_TITLE_SAVED)));
                ___ViewO.push("\" class=\"myQuestSavedAlert\" style=\"display:none\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_saved"))));
                ___ViewO.push("</span>  \n");
                ___ViewO.push("                </span>\n");
                ___ViewO.push("                ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_rateATitle"))));
                ___ViewO.push("\n");
                ___ViewO.push("            </p>\n");
                ___ViewO.push("            <p id=\"\" class=\"myQuestPrefItem\">\n");
                ___ViewO.push("                <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_SPAN_MYQUEST_PREFERENCES_I_ADD_A_REVIEW)));
                ___ViewO.push("\" class=\"myQuestPrefControlWrapper\">\n");
                ___ViewO.push("                    <em id=\"\" class=\"prefColumn\">\n");
                ___ViewO.push("                        <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_CLASS_MYQUEST_PREFERENCES_CONTROLER)));
                ___ViewO.push("\" type=\"radio\" \n");
                ___ViewO.push("                            name=\"showMeAddingReviews\" value=\"yes\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_INPUT_MYQUEST_PREFERENCES_ADD_MY_REVIEW_YES)));
                ___ViewO.push("\" \n");
                ___ViewO.push("                            ");
                ___ViewO.push((EJS.Scanner.to_text(showMeAddingReviews ? "checked" : "")));
                ___ViewO.push("></em>\n");
                ___ViewO.push("                    <em id=\"\" class=\"prefColumn\">\n");
                ___ViewO.push("                        <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_CLASS_MYQUEST_PREFERENCES_CONTROLER)));
                ___ViewO.push("\" type=\"radio\" \n");
                ___ViewO.push("                            name=\"showMeAddingReviews\" value=\"no\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_INPUT_MYQUEST_PREFERENCES_ADD_MY_REVIEW_NO)));
                ___ViewO.push("\" \n");
                ___ViewO.push("                            ");
                ___ViewO.push((EJS.Scanner.to_text(showMeAddingReviews ? "" : "checked")));
                ___ViewO.push("></em>\n");
                ___ViewO.push("                    <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_SPAN_MYQUEST_PREFERENCES_I_ADD_A_REVIEW_SAVED)));
                ___ViewO.push("\" class=\"myQuestSavedAlert\" style=\"display:none\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_saved"))));
                ___ViewO.push("</span>                             \n");
                ___ViewO.push("                </span>\n");
                ___ViewO.push("                ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_addAReview"))));
                ___ViewO.push("\n");
                ___ViewO.push("            </p>\n");
                ___ViewO.push("    <!--end .myQuestPrefGroup-->\n");
                ___ViewO.push("    </div>\n");
                ___ViewO.push("\n");
                ___ViewO.push("\n");
                ___ViewO.push("<h3 id=\"myQuestPrefHeaderLogin\" class=\"myQuestPrefHeader\"><span class=\"\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_whenILogIntoDestinyQuest"))));
                ___ViewO.push("</span></h3>\n");
                ___ViewO.push("\n");
                ___ViewO.push("    <div id=\"myQuestPrefLogin\" class=\"myQuestPrefGroup\">\n");
                ___ViewO.push("            <p id=\"myQuestPrefLogin-startInbox\" class=\"myQuestPrefItem\">\n");
                ___ViewO.push("                <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_SPAN_MYQUEST_PREFERENCES_OPEN_MY_INBOX)));
                ___ViewO.push("\" class=\"myQuestPrefControlWrapper\">\n");
                ___ViewO.push("                    <em id=\"\" class=\"prefColumn\">\n");
                ___ViewO.push("                        <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_CLASS_MYQUEST_PREFERENCES_CONTROLER)));
                ___ViewO.push("\" \n");
                ___ViewO.push("                            id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_INPUT_MYQUEST_PREFERENCES_OPEN_MY_INBOX)));
                ___ViewO.push("\" class=\"\" \n");
                ___ViewO.push("                            name=\"inboxIsDefaultView\" type=\"checkbox\" value=\"yes\" ");
                ___ViewO.push((EJS.Scanner.to_text(inboxIsDefaultView ? "checked" : "")));
                ___ViewO.push("></em>\n");
                ___ViewO.push("                    <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestPreferencesController_SPAN_MYQUEST_PREFERENCES_OPEN_MY_INBOX_SAVED)));
                ___ViewO.push("\" class=\"myQuestSavedAlert\" style=\"display:none\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_saved"))));
                ___ViewO.push("</span>                            \n");
                ___ViewO.push("                </span>\n");
                ___ViewO.push("                ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_openMyInbox"))));
                ___ViewO.push("\n");
                ___ViewO.push("                <em class=\"myQuestPrefDefinition\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestPreferencesController_normallyYoullBeTakenToYourUpdatesDashboard"))));
                ___ViewO.push("</em>\n");
                ___ViewO.push("            </p>\n");
                ___ViewO.push("    <!--end .myQuestPrefGroup-->\n");
                ___ViewO.push("\n");
                ___ViewO.push("    </div>\n");
                return ___ViewO.join("");
            }
        }
    }
    catch (e) {
        e.lineNumber = null;
        throw e;
    }
}
