/* recommendation.ejs */
function (_CONTEXT, _VIEW) {
    try {
        with (_VIEW) {
            with (_CONTEXT) {
                var ___ViewO = [];
                ___ViewO.push("<div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_ADD_RECOMMENDATION_INNER)));
                ___ViewO.push("\" class=\"genericModuleOuter\">\n");
                ___ViewO.push("    <div class=\"genericModuleTR\">\n");
                ___ViewO.push("        <h4  class=\"genericModuleTL\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_ADD_RECOMMENDATION_HEADER)));
                ___ViewO.push("\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("recommendationController_recommending"))));
                ___ViewO.push("</h4>\n");
                ___ViewO.push("        <a href=\"#\" onclick=\"return false;\">\n");
                ___ViewO.push("        \t");
                ___ViewO.push((EJS.Scanner.to_text(ReusableTemplates.load("EmptyImageTemplate", {id:RecommendationController_BUTTON_ADD_RECOMMENDATION_CLOSE, styleClass:"moduleCloseButtonImage", altText:MessageHelper.format("recommendationController_close")}))));
                ___ViewO.push("\n");
                ___ViewO.push("        </a>\n");
                ___ViewO.push("        <div class=\"genericModuleBL\">\n");
                ___ViewO.push("            <div class=\"genericModuleBR\">\n");
                ___ViewO.push("                <div class=\"genericModuleContent\">\n");
                ___ViewO.push("                    <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_ADD_RECOMMENDATION_MAIN)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_CLASS_MODAL_DIALOG_SHRINKY_TO_HIDE)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                        <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_ADD_RECOMMENDATION_DEFAULT_TITLE)));
                ___ViewO.push("\"></div>\n");
                ___ViewO.push("                        <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_ADD_RECOMMENDATION_NOTE_AREA)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("recommendationController_pleaseNote", "<span>", "</span>"))));
                ___ViewO.push("\n");
                ___ViewO.push("                        </div>\n");
                ___ViewO.push("                        <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_FRIENDS_WRAPPER)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                            <input style=\"display: none;\" type=\"radio\" name=\"RADIO_RECOMMENDATION_TYPE\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_RADIO_FRIENDS)));
                ___ViewO.push("\" checked=\"checked\" value=\"RECOMMENDATION_PATRON_TYPE_FRIEND\">\n");
                ___ViewO.push("                            <span class=\"label\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("recommendationController_myFriends"))));
                ___ViewO.push("</span>\n");
                ___ViewO.push("                            <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_FRIENDS_CONTROLS)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                <input id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_BUTTON_SELECT_ALL)));
                ___ViewO.push("\" type=\"button\" value=\"");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("recommendationController_selectAll"))));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                <input id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_BUTTON_CLEAR_ALL)));
                ___ViewO.push("\" type=\"button\" value=\"");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("recommendationController_clearAll"))));
                ___ViewO.push("\">\n");
                ___ViewO.push("                            </span>\n");
                ___ViewO.push("                            <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_ADD_RECOMMENDATION_FRIENDS)));
                ___ViewO.push("\"></div>\n");
                ___ViewO.push("                            <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_EMPTY_FRIENDS_LIST_MSG)));
                ___ViewO.push("\" style=\"display: none;\">\n");
                ___ViewO.push("                                <p>");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("recommendationController_youHaveNoFriends"))));
                ___ViewO.push("</p>\n");
                ___ViewO.push("                            </div>\n");
                ___ViewO.push("                            <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_ADD_RECOMMENDATION_NEEDS_APPROVAL_FRIENDS)));
                ___ViewO.push("\" style=\"display:none;\">\n");
                ___ViewO.push("                                <span class=\"warning\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("recommendationController_theseRecommendationsWillBeScreened"))));
                ___ViewO.push("</span>\n");
                ___ViewO.push("                            </div>\n");
                ___ViewO.push("                        </div>\n");
                ___ViewO.push("                        <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_FIND_PATRON_AREA_WRAPPER)));
                ___ViewO.push("\">                        \n");
                ___ViewO.push("                            <div id=\"addRecommendationFindPatronArea\">                        \n");
                ___ViewO.push("                                <input style=\"display: none;\" type=\"radio\" name=\"RADIO_RECOMMENDATION_TYPE\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_RADIO_FIND_PATRON)));
                ___ViewO.push("\" value=\"RECOMMENDATION_PATRON_TYPE_PATRON\">\n");
                ___ViewO.push("                                <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_ADD_RECOMMENDATION_FIND_PATRON_LABEL)));
                ___ViewO.push("\" class=\"label\"></span>\n");
                ___ViewO.push("                                \n");
                ___ViewO.push("                                <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_FIND_PATRON_AUTO_SUGGESTION_CONTROL)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                    <input type=\"text\" size=\"30\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_FIELD_ADD_RECOMMENDATION_FIND_PATRON)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_FIELD_ADD_RECOMMENDATION_FIND_PATRON)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                \t");
                ___ViewO.push((EJS.Scanner.to_text(ReusableTemplates.load("EmptyImageTemplate", {id:RecommendationController_IMG_ADD_RECOMMENDATION_SEARCH_IN_PROGRESS, styleClass:"", altText:MessageHelper.format("recommendationController_searchInProgress")}))));
                ___ViewO.push("\n");
                ___ViewO.push("                                    \n");
                ___ViewO.push("                                        <a id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_SPAN_ADD_RECOMMENDATION_SELECTED_PATRON)));
                ___ViewO.push("\" href=\"#\" onclick=\"return false;\"><span class=\"iconOnHover\"></span></a>\n");
                ___ViewO.push("                                   \n");
                ___ViewO.push("                                    <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_ADD_RECOMMENDATION_FIND_PATRON_RESULTS)));
                ___ViewO.push("\"></div>\n");
                ___ViewO.push("                                </span>\n");
                ___ViewO.push("                            </div>\n");
                ___ViewO.push("                            <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_DIV_ADD_RECOMMENDATION_NEEDS_APPROVAL)));
                ___ViewO.push("\" style=\"display:none;\">\n");
                ___ViewO.push("                                <p>");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("recommendationController_onlyPatronsWithTheAbilityToLogin"))));
                ___ViewO.push("</p>\n");
                ___ViewO.push("                                <p class=\"warning\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("recommendationController_theseRecommendationsWillBeScreened"))));
                ___ViewO.push("</p>\n");
                ___ViewO.push("                            </div>\n");
                ___ViewO.push("                        </div>\n");
                ___ViewO.push("                        <hr />\n");
                ___ViewO.push("                            <div id=\"addRecommendationTextArea\">\n");
                ___ViewO.push("                                <textarea id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_FIELD_ADD_RECOMMENDATION_TEXT)));
                ___ViewO.push("\"></textarea>\n");
                ___ViewO.push("                            </div>\n");
                ___ViewO.push("                        <div id=\"addRecommendationSaveArea\">\n");
                ___ViewO.push("                            <input type=\"submit\" value=\"");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("recommendationController_save"))));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(RecommendationController_BUTTON_ADD_RECOMMENDATION_SAVE)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                        </div>\n");
                ___ViewO.push("                    </div>\n");
                ___ViewO.push("                </div>\n");
                ___ViewO.push("            </div>\n");
                ___ViewO.push("        </div>\n");
                ___ViewO.push("    </div>\n");
                ___ViewO.push("</div>\n");
                return ___ViewO.join("");
            }
        }
    }
    catch (e) {
        e.lineNumber = null;
        throw e;
    }
}
