/* resourcelist-citation.ejs */
function (_CONTEXT, _VIEW) {
    try {
        with (_VIEW) {
            with (_CONTEXT) {
                var ___ViewO = [];
                ___ViewO.push("<div id=\"citationModuleInner\" class=\"genericModuleOuter\">\n");
                ___ViewO.push("    <div class=\"genericModuleTR\">\n");
                ___ViewO.push("        <h4 id=\"citationModuleHeader\" class=\"genericModuleTL\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_editCitation"))));
                ___ViewO.push("</h4>\n");
                ___ViewO.push("        <a href=\"#\" onclick=\"return false;\">\n");
                ___ViewO.push("        \t");
                ___ViewO.push((EJS.Scanner.to_text(ReusableTemplates.load("EmptyImageTemplate", {id:ResourceListCitationController_BUTTON_CITATION_EDIT_CANCEL, styleClass:"moduleCloseButtonImage", altText:MessageHelper.format("resourceListCitationController_closeCitationModule")}))));
                ___ViewO.push("\n");
                ___ViewO.push("       \t</a>\n");
                ___ViewO.push("        <div class=\"genericModuleBL\">\n");
                ___ViewO.push("            <div class=\"genericModuleBR\">\n");
                ___ViewO.push("                <div class=\"genericModuleContent\">\n");
                ___ViewO.push("                    <div id=\"citationLoading\"></div>\n");
                ___ViewO.push("                        <div id=\"citationEditFormWrapper\">\n");
                ___ViewO.push("                            <table id=\"citationEditTable\">\n");
                ___ViewO.push("                                ");
                if (isAuthorFieldsDisplayable) {
                    ___ViewO.push("\n");
                    ___ViewO.push("                                    <tr id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_AUTHOR_HEADER)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("                                        <td class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                    ___ViewO.push("\">&nbsp;</td>\n");
                    ___ViewO.push("                                        <td class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_HEADER)));
                    ___ViewO.push("\">");
                    ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_lastName"))));
                    ___ViewO.push("</td>\n");
                    ___ViewO.push("                                        <td class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_HEADER)));
                    ___ViewO.push("\">");
                    ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_firstName"))));
                    ___ViewO.push("</td>\n");
                    ___ViewO.push("                                        <td class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_HEADER)));
                    ___ViewO.push("\">");
                    ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_middleInitial"))));
                    ___ViewO.push("</td>\n");
                    ___ViewO.push("                                    </tr>\n");
                    ___ViewO.push("                                     <tr id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_FIRST_AUTHOR)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("                                        <td class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                    ___ViewO.push("\">");
                    ___ViewO.push((EJS.Scanner.to_text(firstAuthorLabel)));
                    ___ViewO.push("</td>\n");
                    ___ViewO.push("                                        <td><input class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_LAST_1)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_LAST_1)));
                    ___ViewO.push("\" type=\"text\" value=\"");
                    ___ViewO.push((EJS.Scanner.to_text(last1Value)));
                    ___ViewO.push("\" maxlength=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_LAST_NAME)));
                    ___ViewO.push("\"></td>                      \n");
                    ___ViewO.push("                                        <td><input class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_FIRST_1)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_FIRST_1)));
                    ___ViewO.push("\" type=\"text\" value=\"");
                    ___ViewO.push((EJS.Scanner.to_text(first1Value)));
                    ___ViewO.push("\"  maxlength=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_FIRST_NAME)));
                    ___ViewO.push("\"></td>                       \n");
                    ___ViewO.push("                                        <td><input class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_MIDDLE_1)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_MIDDLE_1)));
                    ___ViewO.push("\" type=\"text\" value=\"");
                    ___ViewO.push((EJS.Scanner.to_text(middle1Value)));
                    ___ViewO.push("\"  maxlength=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_MIDDLE_INITIAL)));
                    ___ViewO.push("\"></td>                      \n");
                    ___ViewO.push("                                    </tr>\n");
                    ___ViewO.push("                                    <tr id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_SECOND_AUTHOR)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("                                        <td class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                    ___ViewO.push("\">");
                    ___ViewO.push((EJS.Scanner.to_text(secondAuthorLabel)));
                    ___ViewO.push("</td>\n");
                    ___ViewO.push("                                        <td><input class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_LAST_2)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_LAST_2)));
                    ___ViewO.push("\" type=\"text\" value=\"");
                    ___ViewO.push((EJS.Scanner.to_text(last2Value)));
                    ___ViewO.push("\"  maxlength=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_LAST_NAME)));
                    ___ViewO.push("\"></td>                      \n");
                    ___ViewO.push("                                        <td><input class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_FIRST_2)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_FIRST_2)));
                    ___ViewO.push("\" type=\"text\" value=\"");
                    ___ViewO.push((EJS.Scanner.to_text(first2Value)));
                    ___ViewO.push("\" maxlength=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_FIRST_NAME)));
                    ___ViewO.push("\"></td>                    \n");
                    ___ViewO.push("                                        <td><input class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_MIDDLE_2)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_MIDDLE_2)));
                    ___ViewO.push("\" type=\"text\" value=\"");
                    ___ViewO.push((EJS.Scanner.to_text(middle2Value)));
                    ___ViewO.push("\" maxlength=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_MIDDLE_INITIAL)));
                    ___ViewO.push("\"></td>                     \n");
                    ___ViewO.push("                                     </tr>\n");
                    ___ViewO.push("                                     <tr id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_THIRD_AUTHOR)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("                                        <td class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                    ___ViewO.push("\">");
                    ___ViewO.push((EJS.Scanner.to_text(thirdAuthorLabel)));
                    ___ViewO.push("</td>\n");
                    ___ViewO.push("                                         <td><input class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_LAST_3)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_LAST_3)));
                    ___ViewO.push("\" type=\"text\" value=\"");
                    ___ViewO.push((EJS.Scanner.to_text(last3Value)));
                    ___ViewO.push("\" maxlength=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_LAST_NAME)));
                    ___ViewO.push("\"></td>                         \n");
                    ___ViewO.push("                                          <td><input class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_FIRST_3)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_FIRST_3)));
                    ___ViewO.push("\" type=\"text\" value=\"");
                    ___ViewO.push((EJS.Scanner.to_text(first3Value)));
                    ___ViewO.push("\" maxlength=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_FIRST_NAME)));
                    ___ViewO.push("\"></td>                       \n");
                    ___ViewO.push("                                          <td><input class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_MIDDLE_3)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_AUTHOR_MIDDLE_3)));
                    ___ViewO.push("\" type=\"text\" value=\"");
                    ___ViewO.push((EJS.Scanner.to_text(middle3Value)));
                    ___ViewO.push("\" maxlength=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_MIDDLE_INITIAL)));
                    ___ViewO.push("\"></td> \n");
                    ___ViewO.push("                                      </tr>\n");
                    ___ViewO.push("                                  ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("                            </table>\n");
                ___ViewO.push("                            <div id=\"citationLibrary\">\n");
                ___ViewO.push("                                <table>\n");
                ___ViewO.push("                                    ");
                if (isTitleFieldDisplayable) {
                    ___ViewO.push("\n");
                    ___ViewO.push("                                        <tr>\n");
                    ___ViewO.push("                                            <td class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                    ___ViewO.push("\">");
                    ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_title"))));
                    ___ViewO.push("</td>\n");
                    ___ViewO.push("                                            <td><input class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_TITLE)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_TITLE)));
                    ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_TITLE)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("                                            <span class=\"moduleRequired\">");
                    ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_required"))));
                    ___ViewO.push(" </span></td>     \n");
                    ___ViewO.push("                                        </tr>\n");
                    ___ViewO.push("                                    ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("                                    ");
                if (isPublisherLocationDisplayable) {
                    ___ViewO.push("\n");
                    ___ViewO.push("                                        <tr >\n");
                    ___ViewO.push("                                            <td id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_PUB_LOCATION)));
                    ___ViewO.push("\" class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("\t                                            ");
                    ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_publisherLocation"))));
                    ___ViewO.push("</td>\n");
                    ___ViewO.push("                                            <td><input class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_PUB_LOCATION)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_PUB_LOCATION)));
                    ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_PUBLISHER_LOCATION)));
                    ___ViewO.push("\"></td>\n");
                    ___ViewO.push("                                        </tr>\n");
                    ___ViewO.push("                                    ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("                                    ");
                if (isPublisherDisplayable) {
                    ___ViewO.push("\n");
                    ___ViewO.push("                                        <tr>\n");
                    ___ViewO.push("                                            <td id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_PUBLISHER)));
                    ___ViewO.push("\"class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("                                                ");
                    ___ViewO.push((EJS.Scanner.to_text(publisherLabel)));
                    ___ViewO.push("\n");
                    ___ViewO.push("                                            </td>\n");
                    ___ViewO.push("                                            <td><input class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_PUBLISHER)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_PUBLISHER)));
                    ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_PUBLISHER)));
                    ___ViewO.push("\"></td>\n");
                    ___ViewO.push("                                        </tr>\n");
                    ___ViewO.push("                                    ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("                                    ");
                if (isDateOfCompositionDisplayable) {
                    ___ViewO.push("\n");
                    ___ViewO.push("                                        <tr>\n");
                    ___ViewO.push("                                             <td id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_DATE_OF_COMPOSITION)));
                    ___ViewO.push("\" class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                    ___ViewO.push("\">");
                    ___ViewO.push((EJS.Scanner.to_text(dateOfCompositionLabel)));
                    ___ViewO.push("</td>\n");
                    ___ViewO.push("                                            <td><input class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_DATE_OF_COMPOSITION)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_DATE_OF_COMPOSITION)));
                    ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_DATE_OF_COMPOSITION)));
                    ___ViewO.push("\"></td>\n");
                    ___ViewO.push("                                        </tr>\n");
                    ___ViewO.push("                                    ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("                                    ");
                if (isCopyrightYearDisplayable) {
                    ___ViewO.push("\n");
                    ___ViewO.push("                                        <tr>\n");
                    ___ViewO.push("                                             <td id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_DATE)));
                    ___ViewO.push("\"class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                    ___ViewO.push("\">");
                    ___ViewO.push((EJS.Scanner.to_text(copyrightYearLabel)));
                    ___ViewO.push("</td>\n");
                    ___ViewO.push("                                            <td><input class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_DATE)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_DATE)));
                    ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_COPYRIGHT_YEAR)));
                    ___ViewO.push("\"></td>\n");
                    ___ViewO.push("                                        </tr>\n");
                    ___ViewO.push("                                    ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("                                    <tr>\n");
                ___ViewO.push("                                        <td class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_medium"))));
                ___ViewO.push("</td>\n");
                ___ViewO.push("                                        <td><input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_MEDIUM)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_MEDIUM)));
                ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_MEDIUM)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                        <span class=\"moduleRequired\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_required"))));
                ___ViewO.push(" </span></td>     \n");
                ___ViewO.push("                                    </tr>\n");
                ___ViewO.push("                                </table>\n");
                ___ViewO.push("                            </div>\n");
                ___ViewO.push("                            <div id=\"citationWebpath\">\n");
                ___ViewO.push("                                <table>\n");
                ___ViewO.push("                                    <tr>\n");
                ___ViewO.push("                                        <td class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_ORGANIZATION)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_organization"))));
                ___ViewO.push("</td>\n");
                ___ViewO.push("                                        <td class=\"moduleRequired\">\n");
                ___ViewO.push("                                            <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_ORGANIZATION)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_ORGANIZATION)));
                ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"50\">\n");
                ___ViewO.push("                                            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_ifNoAuthor"))));
                ___ViewO.push("\n");
                ___ViewO.push("                                        </td>\n");
                ___ViewO.push("                                    <tr>\n");
                ___ViewO.push("                                        <td class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_TITLE_WPE)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                        ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_documentTitle"))));
                ___ViewO.push("</td>\n");
                ___ViewO.push("                                        <td>\n");
                ___ViewO.push("                                            <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_TITLE_WPE)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_TITLE_WPE)));
                ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_TITLE)));
                ___ViewO.push("\"><span class=\"moduleRequired\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_required"))));
                ___ViewO.push(" </span>\n");
                ___ViewO.push("                                        </td>\n");
                ___ViewO.push("                                    </tr>\n");
                ___ViewO.push("                                <!-- paid onesearch databases only : Name of Periodical -->\n");
                ___ViewO.push("                                    <tr class=\"paidOS\">\n");
                ___ViewO.push("                                        <td class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_NAME_OF_PERIODICAL)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_nameOfPeriodical"))));
                ___ViewO.push("\n");
                ___ViewO.push("                                         </td>\n");
                ___ViewO.push("                                         <td>\n");
                ___ViewO.push("                                            <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_NAME_OF_PERIODICAL)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_NAME_OF_PERIODICAL)));
                ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_NAME_OF_PERIODICAL)));
                ___ViewO.push("\">                        \n");
                ___ViewO.push("                                        </td>\n");
                ___ViewO.push("                                    </tr>\n");
                ___ViewO.push("                                <!--  end paid onesearch database only -->\n");
                ___ViewO.push("                                <!--  renamed to \"name of database\" for paid onesearch database only -->\n");
                ___ViewO.push("                                    <tr>\n");
                ___ViewO.push("                                        <td class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_WEB_SITE)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_titleOfWebSite"))));
                ___ViewO.push("</td>\n");
                ___ViewO.push("                                        <td>\n");
                ___ViewO.push("                                            <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_WEBSITE_TITLE)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_WEBSITE_TITLE)));
                ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"50\">\n");
                ___ViewO.push("                                         </td>\n");
                ___ViewO.push("                                    </tr>\n");
                ___ViewO.push("                                <!-- end renamed to \"name of database\" for paid onesearch database only -->\n");
                ___ViewO.push("\n");
                ___ViewO.push("                                <!-- paid onesearch databases only -->\n");
                ___ViewO.push("                                    <tr class=\"paidOS\">\n");
                ___ViewO.push("                                        <td class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_SERVICE_NAME)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_nameOfService"))));
                ___ViewO.push("\n");
                ___ViewO.push("                                         </td>\n");
                ___ViewO.push("                                         <td>\n");
                ___ViewO.push("                                            <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_SERVICE_NAME_OS)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_SERVICE_NAME_OS)));
                ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"80\">                        \n");
                ___ViewO.push("                                        </td>\n");
                ___ViewO.push("                                    </tr>\n");
                ___ViewO.push("                                    <tr class=\"paidOS\">\n");
                ___ViewO.push("                                        <td class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_LIBRARY_NAME)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_nameOfLibrary"))));
                ___ViewO.push("\n");
                ___ViewO.push("                                         </td>\n");
                ___ViewO.push("                                         <td>\n");
                ___ViewO.push("                                            <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_LIBRARY_NAME_OS)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_LIBRARY_NAME_OS)));
                ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"80\">                        \n");
                ___ViewO.push("                                        </td>\n");
                ___ViewO.push("                                    </tr>\n");
                ___ViewO.push("                                    <tr class=\"paidOS\">\n");
                ___ViewO.push("                                        <td class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_LIBRARY_LOCATION)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_locationOfLibrary"))));
                ___ViewO.push("\n");
                ___ViewO.push("                                         </td>\n");
                ___ViewO.push("                                         <td>\n");
                ___ViewO.push("                                            <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_LIBRARY_LOCATION_OS)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_LIBRARY_LOCATION_OS)));
                ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"80\">                        \n");
                ___ViewO.push("                                        </td>\n");
                ___ViewO.push("                                    </tr>\n");
                ___ViewO.push("                                    <!-- end -> paid onesearch databases only  -->\n");
                ___ViewO.push("\n");
                ___ViewO.push("                                    <tr>\n");
                ___ViewO.push("                                        <td class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_DATE)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_publicationDateCopyrightOrLastUpdate"))));
                ___ViewO.push("\n");
                ___ViewO.push("                                         </td>\n");
                ___ViewO.push("                                         <td>\n");
                ___ViewO.push("                                            <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_DATE_WPE)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_DATE_WPE)));
                ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"80\">                        \n");
                ___ViewO.push("                                        </td>\n");
                ___ViewO.push("                                    </tr>\n");
                ___ViewO.push("                                    <tr>\n");
                ___ViewO.push("                                        <td class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_MEDIUM)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_medium"))));
                ___ViewO.push("\n");
                ___ViewO.push("                                        </td>\n");
                ___ViewO.push("                                        <td>\n");
                ___ViewO.push("                                            <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_MEDIUM_OS)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_MEDIUM_OS)));
                ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_MAX_SIZE_MEDIUM)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                            <span class=\"moduleRequired\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_required"))));
                ___ViewO.push(" </span>\n");
                ___ViewO.push("                                        </td>     \n");
                ___ViewO.push("                                    </tr>\n");
                ___ViewO.push("                                    <tr>\n");
                ___ViewO.push("                                        <td class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_ACCESS_DATE)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_accessDate"))));
                ___ViewO.push("\n");
                ___ViewO.push("                                        </td>\n");
                ___ViewO.push("                                        <td>\n");
                ___ViewO.push("                                             <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_ACCESS_DATE)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_ACCESS_DATE)));
                ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"20\">\n");
                ___ViewO.push("                                             <span class=\"moduleRequired\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_required"))));
                ___ViewO.push(" </span>                        \n");
                ___ViewO.push("                                        </td>\n");
                ___ViewO.push("                                    </tr>\n");
                ___ViewO.push("                                    <tr>\n");
                ___ViewO.push("                                        <td class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_GROUP)));
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_GROUP_URL)));
                ___ViewO.push("\">\n");
                ___ViewO.push("                                            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_url"))));
                ___ViewO.push("</td>\n");
                ___ViewO.push("                                        <td>\n");
                ___ViewO.push("                                            <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_CLASS_CITATION_EDIT_FIELD_WIDE)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_URL)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_FIELD_CITATION_EDIT_URL)));
                ___ViewO.push("\" type=\"hidden\" value=\"\">                      \n");
                ___ViewO.push("                                            <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_SPAN_CITATION_EDIT_URL)));
                ___ViewO.push("\"></span>                  \n");
                ___ViewO.push("                                        </td>\n");
                ___ViewO.push("                                    </tr>\n");
                ___ViewO.push("                                </table>\n");
                ___ViewO.push("                            </div>\n");
                ___ViewO.push("\t                       <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_CITATION_EDIT_ERRORS)));
                ___ViewO.push("\" style=\"display: none;\"></div>\n");
                ___ViewO.push("\t                       <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_DIV_WINDOW_BUTTONS)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t                           <input id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_BUTTON_CITATION_EDIT_SAVE)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListCitationController_BUTTON_CITATION_EDIT_SAVE)));
                ___ViewO.push("\" type=\"submit\" value=\"");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListCitationController_save"))));
                ___ViewO.push("\">                        \n");
                ___ViewO.push("\t                       </div>\n");
                ___ViewO.push("\t                   </div>\n");
                ___ViewO.push("\t               </div>\n");
                ___ViewO.push("\t           </div>\n");
                ___ViewO.push("\t       </div>\n");
                ___ViewO.push("\t   </div>\n");
                ___ViewO.push("   </div>\n");
                ___ViewO.push("</div>\n");
                return ___ViewO.join("");
            }
        }
    }
    catch (e) {
        e.lineNumber = null;
        throw e;
    }
}
