/* resourcelist.ejs */
function (_CONTEXT, _VIEW) {
    try {
        with (_VIEW) {
            with (_CONTEXT) {
                var ___ViewO = [];
                ___ViewO.push("<div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_WINDOW_CONTENT)));
                ___ViewO.push("\" class=\"genericModuleOuter\">\n");
                ___ViewO.push("    <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_WINDOW_TITLE)));
                ___ViewO.push("\" class=\"genericModuleTR\">\n");
                ___ViewO.push("        <h4 id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_WINDOW_HEADER)));
                ___ViewO.push("\" class=\"genericModuleTL\">\n");
                ___ViewO.push("            <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_WINDOW_HEADER_TITLE)));
                ___ViewO.push("\"></div>\n");
                ___ViewO.push("        </h4>\n");
                ___ViewO.push("        <a href=\"#\" onclick=\"return false;\">\n");
                ___ViewO.push("        \t");
                ___ViewO.push((EJS.Scanner.to_text(ReusableTemplates.load("EmptyImageTemplate", {id:ResourceListController_IMG_RESOURCE_LIST_WINDOW_CLOSE, styleClass:"moduleCloseButtonImage", altText:MessageHelper.format("resourceListController_closeMyInfo")}))));
                ___ViewO.push("\n");
                ___ViewO.push("        </a>\n");
                ___ViewO.push("        <div class=\"genericModuleBL\">\n");
                ___ViewO.push("            <div class=\"genericModuleBR\">\n");
                ___ViewO.push("                <div class=\"genericModuleContent\">\n");
                ___ViewO.push("\t                <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_PUBLIC_LIST_INFO)));
                ___ViewO.push("\" style=\"display: none;\">\n");
                ___ViewO.push("\t                \t");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_owner", "<span id=\"" + ResourceListController_SPAN_PUBLIC_LIST_INFO_OWNER + "\"></span><br />"))));
                ___ViewO.push("\n");
                ___ViewO.push("\t                \t");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_lastUpdated", "<span id=\"" + ResourceListController_SPAN_PUBLIC_LIST_INFO_UPDATED + "\"></span><br />"))));
                ___ViewO.push("\n");
                ___ViewO.push("\t                \t");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_description", "<br /><span id=\"" + ResourceListController_SPAN_PUBLIC_LIST_INFO_DESCRIPTION + "\"></span>"))));
                ___ViewO.push("\n");
                ___ViewO.push("\t                </div>\n");
                ___ViewO.push("                    ");
                if (!publicList) {
                    ___ViewO.push("\n");
                    ___ViewO.push("\t                <div id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_WINDOW_HEADER_TABS)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("\t                    ");
                    if (canViewOwnStatus) {
                        ___ViewO.push("\n");
                        ___ViewO.push("\t                    <ul id=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_UL_MY_INFO_TABS)));
                        ___ViewO.push("\">\n");
                        ___ViewO.push("\t                        <li id=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_BUTTON_GOTO_MY_INFO)));
                        ___ViewO.push("\" class=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_CLASS_TAB)));
                        ___ViewO.push("\">\n");
                        ___ViewO.push("\t                            <a href=\"#\" onclick=\"return false;\"><span>");
                        ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_myCheckouts"))));
                        ___ViewO.push("</span></a>\n");
                        ___ViewO.push("\t                        </li>\n");
                        ___ViewO.push("\t                        <li id=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_BUTTON_GOTO_MY_HOLDS)));
                        ___ViewO.push("\" class=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_CLASS_TAB)));
                        ___ViewO.push("\">\n");
                        ___ViewO.push("                                <a href=\"#\" onclick=\"return false;\"><span>");
                        ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_myHolds"))));
                        ___ViewO.push("</span></a>\n");
                        ___ViewO.push("                            </li>\n");
                        ___ViewO.push("\t                        ");
                        if (canAccessBooklist) {
                            ___ViewO.push("\n");
                            ___ViewO.push("\t                        <li id=\"");
                            ___ViewO.push((EJS.Scanner.to_text(ResourceListController_BUTTON_GOTO_MY_RESOURCE_LISTS)));
                            ___ViewO.push("\" class=\"");
                            ___ViewO.push((EJS.Scanner.to_text(ResourceListController_CLASS_TAB)));
                            ___ViewO.push("\">\n");
                            ___ViewO.push("\t                            <a href=\"#\" onclick=\"return false;\"><span>");
                            ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_myLists"))));
                            ___ViewO.push("</span></a>\n");
                            ___ViewO.push("\t                        </li>\n");
                            ___ViewO.push("\t                        ");
                        }
                        ___ViewO.push("\n");
                        ___ViewO.push("\t                        <li id=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_BUTTON_GOTO_MY_RECOMMENDATIONS)));
                        ___ViewO.push("\" class=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_CLASS_TAB)));
                        ___ViewO.push("\">\n");
                        ___ViewO.push("\t                            <a href=\"#\" onclick=\"return false;\"><span>");
                        ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_recommendations"))));
                        ___ViewO.push("</span></a>\n");
                        ___ViewO.push("\t                        </li>\n");
                        ___ViewO.push("\t                    </ul>\n");
                        ___ViewO.push("\t                    ");
                    }
                    ___ViewO.push("\n");
                    ___ViewO.push("\t                    ");
                    if (!canViewOwnStatus && canAccessBooklist) {
                        ___ViewO.push("\n");
                        ___ViewO.push("\t                    <ul id=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_UL_MY_INFO_TABS)));
                        ___ViewO.push("\">\n");
                        ___ViewO.push("\t                        <li id=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_BUTTON_GOTO_MY_RESOURCE_LISTS)));
                        ___ViewO.push("\" class=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_CLASS_TAB)));
                        ___ViewO.push("\">\n");
                        ___ViewO.push("\t                            <a href=\"#\" onclick=\"return false;\"><span>");
                        ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_myLists"))));
                        ___ViewO.push("</span></a>\n");
                        ___ViewO.push("\t                        </li>\n");
                        ___ViewO.push("\t                    </ul>\n");
                        ___ViewO.push("\t                    ");
                    }
                    ___ViewO.push("\n");
                    ___ViewO.push("\t                </div>\n");
                    ___ViewO.push("\t                ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("\t                <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_OPTIONS)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t                    <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_OPTIONS_INNER)));
                ___ViewO.push("\" style=\"display: none;\">\n");
                ___ViewO.push("\t                        ");
                if (showSearchTypeSelectorForResourceList) {
                    ___ViewO.push("\n");
                    ___ViewO.push("\t                           <div id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_ID_RESOURCE_LIST_OPTIONS)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("    \t                            <div id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_OPTIONS_INNER_INNER)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("    \t                                <div id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_LIBRARY_TITLES)));
                    ___ViewO.push("\" class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_CLASS_TAB)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("    \t                                    <a href=\"#\" \n");
                    ___ViewO.push("    \t                                        id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_LINK_RESOURCE_LIST_LIBRARY_TITLES)));
                    ___ViewO.push("\"\n");
                    ___ViewO.push("    \t                                        onclick=\"return false;\">");
                    ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_libraryTitles"))));
                    ___ViewO.push("</a>\n");
                    ___ViewO.push("    \t                                </div>\n");
                    ___ViewO.push("    \t                                ");
                    if (showWPEInResourceList) {
                        ___ViewO.push("\n");
                        ___ViewO.push("    \t\t                                <div id=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_WEBPATH_EXPRESS)));
                        ___ViewO.push("\" class=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_CLASS_TAB)));
                        ___ViewO.push("\">\n");
                        ___ViewO.push("    \t\t                                \t<a href=\"#\" id=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_LINK_RESOURCE_LIST_WEBPATH_EXPRESS)));
                        ___ViewO.push("\"\n");
                        ___ViewO.push("    \t\t                                \t\tonclick=\"return false;\">");
                        ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_webSites"))));
                        ___ViewO.push("</a>\n");
                        ___ViewO.push("    \t                            \t\t</div>\n");
                        ___ViewO.push("                                \t\t");
                    }
                    ___ViewO.push("\n");
                    ___ViewO.push("    \t                                ");
                    if (showOneSearchInResourceList) {
                        ___ViewO.push("\n");
                        ___ViewO.push("    \t                                    <div id=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_ONE_SEARCH)));
                        ___ViewO.push("\" class=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_CLASS_TAB)));
                        ___ViewO.push("\">\n");
                        ___ViewO.push("    \t                                        <a href=\"#\" \n");
                        ___ViewO.push("    \t                                            id=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_LINK_RESOURCE_LIST_ONE_SEARCH)));
                        ___ViewO.push("\"\n");
                        ___ViewO.push("    \t                                            onclick=\"return false;\">");
                        ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_oneSearch"))));
                        ___ViewO.push("</a>\n");
                        ___ViewO.push("    \t                                    </div>\n");
                        ___ViewO.push("    \t                                ");
                    }
                    ___ViewO.push("\n");
                    ___ViewO.push("    \t                                ");
                    if (showDCPIInResourceList) {
                        ___ViewO.push("\n");
                        ___ViewO.push("    \t\t                                <div id=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_DCPI)));
                        ___ViewO.push("\" class=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_CLASS_TAB)));
                        ___ViewO.push("\">\n");
                        ___ViewO.push("    \t\t                                <a href=\"#\" id=\"");
                        ___ViewO.push((EJS.Scanner.to_text(ResourceListController_LINK_RESOURCE_LIST_DCPI)));
                        ___ViewO.push("\"\n");
                        ___ViewO.push("    \t\t                                \tonclick=\"return false;\">");
                        ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_digitalResources"))));
                        ___ViewO.push("</a>\n");
                        ___ViewO.push("    \t                            \t\t</div>\n");
                        ___ViewO.push("                                \t\t");
                    }
                    ___ViewO.push("\n");
                    ___ViewO.push("    \t                             </div>\n");
                    ___ViewO.push("\t                            </div> \n");
                    ___ViewO.push("\t                        ");
                }
                ___ViewO.push(" \n");
                ___ViewO.push("                            ");
                if (showCollectionTypeSelectorForMyInfo) {
                    ___ViewO.push("\n");
                    ___ViewO.push("                               <div id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_ID_MYINFO_OPTIONS)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("                                   <div id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_OPTIONS_INNER_INNER)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("                                       <div class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_CLASS_TAB)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("                                            <a href=\"#\" \n");
                    ___ViewO.push("                                                id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_ID_MYINFO_LIBRARY_ITEMS_OUT)));
                    ___ViewO.push("\"\n");
                    ___ViewO.push("                                                onclick=\"return false;\">");
                    ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_library"))));
                    ___ViewO.push("</a>\n");
                    ___ViewO.push("                                       </div>\n");
                    ___ViewO.push("                                       <div class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_CLASS_TAB)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("                                            <a href=\"#\" \n");
                    ___ViewO.push("                                                id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_ID_MYINFO_TEXTBOOK_ITEMS_OUT)));
                    ___ViewO.push("\"\n");
                    ___ViewO.push("                                                onclick=\"return false;\">");
                    ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_textbook"))));
                    ___ViewO.push("</a>\n");
                    ___ViewO.push("                                       </div>\n");
                    ___ViewO.push("                                   </div>    \n");
                    ___ViewO.push("                               </div>\n");
                    ___ViewO.push("                            ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("\t\t                    </div>\n");
                ___ViewO.push("\t\t                </div>\n");
                ___ViewO.push("\t\t\t            <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_PAGING_OUTER)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t\t\t                <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_PAGING_INNER)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t\t\t                    <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_WINDOW_PAGING_CONTROLS)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t\t\t                        <a href=\"#\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_LINK_RESOURCE_LIST_PREV_PAGE)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_CLASS_CONTROL)));
                ___ViewO.push("\" onclick=\"return false;\">\n");
                ___ViewO.push("\t\t\t                        </a>\n");
                ___ViewO.push("\t\t\t                        <a href=\"#\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_LINK_RESOURCE_LIST_NEXT_PAGE)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_CLASS_CONTROL)));
                ___ViewO.push("\" onclick=\"return false;\">\n");
                ___ViewO.push("\t\t\t                        </a>\n");
                ___ViewO.push("\t\t\t                    </div>\n");
                ___ViewO.push("\t\t\t                <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_WINDOW_TITLE_COUNTS)));
                ___ViewO.push("\"></div>\n");
                ___ViewO.push("\t\t\t                ");
                if (!publicList) {
                    ___ViewO.push("\n");
                    ___ViewO.push("                                <div id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_BOOK_LIST_SELECTION)));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("                                    <span id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(BooklistSelectController_SELECT_LIST_CONTAINER)));
                    ___ViewO.push("\"></span>\n");
                    ___ViewO.push("                                </div>\n");
                    ___ViewO.push("                            ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("\t\t\t            </div>\n");
                ___ViewO.push("\t\t\t        </div>\n");
                ___ViewO.push("                    <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESOURCE_LIST_DCPI_ERROR)));
                ___ViewO.push("\"></div>\n");
                ___ViewO.push("\t\t\t        <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESULTS_CACHE)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_CLASS_RESULTS_PAGE)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t\t\t        \t<div id=\"resourceListWindowListInner\">\n");
                ___ViewO.push("\t\t\t\t\t    \t<div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESULTS_CACHE_INNER)));
                ___ViewO.push("\"></div>\n");
                ___ViewO.push("\t\t\t\t\t    \t<div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_RESULTS_LOADING)));
                ___ViewO.push("\" style=\"display: none\">\n");
                ___ViewO.push("\t\t\t\t\t    \t\t<img src=\"/images/icons/general/spacer.gif\" class=\"loading\">\n");
                ___ViewO.push("\t\t\t\t\t    \t</div>\n");
                ___ViewO.push("\t\t\t\t    \t</div>\n");
                ___ViewO.push("\t\t\t\t    </div>\n");
                ___ViewO.push("\t\t\t        \n");
                ___ViewO.push("\t                <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_DIV_WINDOW_BUTTONS)));
                ___ViewO.push("\" style=\"display:none;\">\n");
                ___ViewO.push("                        ");
                if (canSaveResourceList) {
                    ___ViewO.push("\n");
                    ___ViewO.push("                            <input type=\"button\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_BUTTON_RESOURCE_LIST_SAVE)));
                    ___ViewO.push("\" value=\"");
                    ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_save"))));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("                        ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("    \n");
                ___ViewO.push("                        ");
                if (canEmailResourceList) {
                    ___ViewO.push("\n");
                    ___ViewO.push("                            <input type=\"button\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_BUTTON_RESOURCE_LIST_EMAIL)));
                    ___ViewO.push("\" value=\"");
                    ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_email"))));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("                        ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("    \n");
                ___ViewO.push("                        <input type=\"button\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_BUTTON_RESOURCE_LIST_PRINT)));
                ___ViewO.push("\" value=\"");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_printOptions"))));
                ___ViewO.push("\">\n");
                ___ViewO.push("                        ");
                if (!publicList) {
                    ___ViewO.push("\n");
                    ___ViewO.push("                        \t<input type=\"button\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(ResourceListController_BUTTON_RESOURCE_LIST_REMOVE_ALL)));
                    ___ViewO.push("\" value=\"");
                    ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("resourceListController_removeAll"))));
                    ___ViewO.push("\">\n");
                    ___ViewO.push("                        ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("\t                </div>\n");
                ___ViewO.push("                </div>\n");
                ___ViewO.push("            </div>\n");
                ___ViewO.push("        </div>\n");
                ___ViewO.push("    </div>\n");
                ___ViewO.push("</div>\n");
                ___ViewO.push("\n");
                ___ViewO.push("<form id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_FORM_SAVE_BOOKLIST)));
                ___ViewO.push("\" action=\"/cataloging/servlet/handlebooklistform.do\" method=\"get\">\n");
                ___ViewO.push("\t<input type=\"hidden\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_PARAM_SAVE_MY_LIST)));
                ___ViewO.push("\" value=\"true\">\n");
                ___ViewO.push("\t<input type=\"hidden\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_PARAM_FROM_QUEST)));
                ___ViewO.push("\" value=\"true\">\n");
                ___ViewO.push("\t<input type=\"hidden\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_PARAM_SAVE_LIST_SORT)));
                ___ViewO.push("\" value=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_SORT_BY_TITLE)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t<input type=\"hidden\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_FIELD_LIST_ACTION)));
                ___ViewO.push("\" value=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_OPTION_SAVE_MY_LIST)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t<input type=\"hidden\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_PARAM_SAVEBOOK_LIST_LIST_ID)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_FIELD_LIST_ID)));
                ___ViewO.push("\" >\n");
                ___ViewO.push("\t<input type=\"hidden\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_PARAM_SAVEBOOK_LIST_DIGITAL_CONTENT_MODE)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_FIELD_DIGITAL_CONTENT_MODE)));
                ___ViewO.push("\" >\n");
                ___ViewO.push("\t<input id=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_PARAM_SAVEBOOK_LIST_COLLECTION_TYPE)));
                ___ViewO.push("\" type=\"hidden\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(ResourceListController_FIELD_COLLECTION_TYPE)));
                ___ViewO.push("\">\n");
                ___ViewO.push("</form>\n");
                return ___ViewO.join("");
            }
        }
    }
    catch (e) {
        e.lineNumber = null;
        throw e;
    }
}
