/* wish.ejs */
function (_CONTEXT, _VIEW) {
    try {
        with (_VIEW) {
            with (_CONTEXT) {
                var ___ViewO = [];
                ___ViewO.push("<div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_DIV_ADD_WISH_INNER)));
                ___ViewO.push("\" class=\"genericModuleOuter\">\n");
                ___ViewO.push("\t<div class=\"genericModuleTR\">\n");
                ___ViewO.push("\t    <h4  class=\"genericModuleTL\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_DIV_ADD_WISH_HEADER)));
                ___ViewO.push("\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("wishController_makeAWish"))));
                ___ViewO.push("</h4>\n");
                ___ViewO.push("\t    <a href=\"#\" onclick=\"return false;\">");
                ___ViewO.push((EJS.Scanner.to_text(ReusableTemplates.load("EmptyImageTemplate", {id:WishController_BUTTON_ADD_WISH_CLOSE, styleClass:"moduleCloseButtonImage", altText:MessageHelper.format("wishController_close")}))));
                ___ViewO.push("</a>\n");
                ___ViewO.push("\t    <div class=\"genericModuleBL\">\n");
                ___ViewO.push("\t        <div class=\"genericModuleBR\">\n");
                ___ViewO.push("\t\t        <div class=\"genericModuleContent\">            \n");
                ___ViewO.push("\t\t\t        <div id=\"addWishContents\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_CLASS_MODAL_DIALOG_SHRINKY_TO_HIDE)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t\t\t            <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_DIV_ADD_WISH_TITLE_SELECTOR)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t\t\t                <input type=\"radio\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_INPUT_ADD_WISH_CURRENT_TITLE)));
                ___ViewO.push("\" checked=\"checked\" value=\"0\" name=\"titleSelectType\"/><span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_SPAN_ADD_WISH_DEFAULT_TITLE)));
                ___ViewO.push("\">");
                ___ViewO.push((EJS.Scanner.to_text(defaultTitle)));
                ___ViewO.push("</span><br/> \n");
                ___ViewO.push("\t\t\t                <input type=\"radio\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_INPUT_ADD_WISH_ANOTHER_TITLE)));
                ___ViewO.push("\"  value=\"1\" name=\"titleSelectType\"/><span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_SPAN_ADD_WISH_ANOTHER_TITLE)));
                ___ViewO.push("\"> ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("wishController_anotherTitle"))));
                ___ViewO.push("</span> \n");
                ___ViewO.push("\t\t\t            </div>\n");
                ___ViewO.push("\t\t\t    \n");
                ___ViewO.push("\t\t\t            <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_DIV_ADD_WISH_DATA)));
                ___ViewO.push("\" style=\"display:none\">\n");
                ___ViewO.push("\t\t\t                <table id=\"wishAnotherTitleInputTable\">\n");
                ___ViewO.push("\t\t\t                    <tr>\n");
                ___ViewO.push("\t\t\t                        <td id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_TD_ADD_WISH_TITLE_LABEL)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t\t\t                            ");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("wishController_title"))));
                ___ViewO.push("\n");
                ___ViewO.push("\t\t\t                         </td>\n");
                ___ViewO.push("\t\t\t                         <td>\n");
                ___ViewO.push("\t\t\t                            <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_CLASS_ADD_WISH_REQUEST_FIELD)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_FIELD_WISH_TITLE)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_FIELD_WISH_TITLE)));
                ___ViewO.push("\" type=\"text\" value=\"\" width=\"100\" maxlength=\"150\"/>\n");
                ___ViewO.push("\t\t\t                        </td>\n");
                ___ViewO.push("\t\t\t                        <td>\n");
                ___ViewO.push("\t\t\t                            <span id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_SPAN_ADD_WISH_TITLE_REQUIRED)));
                ___ViewO.push("\" class=\"moduleRequired\">");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("wishController_required"))));
                ___ViewO.push("</span>\n");
                ___ViewO.push("\t\t\t                        </td>\n");
                ___ViewO.push("\t\t\t                    </tr>\n");
                ___ViewO.push("\t\t\t                    <tr>\n");
                ___ViewO.push("\t\t\t                        <td id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_TD_ADD_WISH_AUTHOR_LABEL)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t\t\t                        \t");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("wishController_author"))));
                ___ViewO.push("\n");
                ___ViewO.push("\t\t\t                         </td>\n");
                ___ViewO.push("\t\t\t                         <td colspan=\"2\">\n");
                ___ViewO.push("\t\t\t                            <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_CLASS_ADD_WISH_REQUEST_FIELD)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_FIELD_WISH_AUTHOR)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_FIELD_WISH_AUTHOR)));
                ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"150\"/>                        \n");
                ___ViewO.push("\t\t\t                        </td>\n");
                ___ViewO.push("\t\t\t                    </tr>\n");
                ___ViewO.push("\t\t\t                    <tr>\n");
                ___ViewO.push("\t\t\t                        <td id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_TD_ADD_WISH_ISBN_LABEL)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_CLASS_EDIT_LABEL)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t\t\t                        \t");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("wishController_isbn"))));
                ___ViewO.push("\n");
                ___ViewO.push("\t\t\t                         </td>\n");
                ___ViewO.push("\t\t\t                         <td colspan=\"2\">\n");
                ___ViewO.push("\t\t\t                            <input class=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_CLASS_CITATION_EDIT_FIELD)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_FIELD_WISH_ISBN)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_FIELD_WISH_ISBN)));
                ___ViewO.push("\" type=\"text\" value=\"\" maxlength=\"15\"/>                        \n");
                ___ViewO.push("\t\t\t                        </td>\n");
                ___ViewO.push("\t\t\t                    </tr>\n");
                ___ViewO.push("\t\t\t                </table>\n");
                ___ViewO.push("\t\t\t            </div>\n");
                ___ViewO.push("\t\t\t            \n");
                ___ViewO.push("\t\t\t            <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_DIV_ADD_WISH_REASON)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t\t\t                <p>");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("wishController_weShouldPurchaseACopyOfThisTitleBecause"))));
                ___ViewO.push("</p>\n");
                ___ViewO.push("\t\t\t                <textarea id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_FIELD_WISH_REASON)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_FIELD_WISH_REASON)));
                ___ViewO.push("\" rows=\"6\" cols=\"60\" ></textarea>\n");
                ___ViewO.push("\t\t\t            </div>\n");
                ___ViewO.push("\t\t\t            \n");
                ___ViewO.push("\t\t\t            <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_DIV_ADD_WISH_ERRORS)));
                ___ViewO.push("\" style=\"display: none;\"></div>\n");
                ___ViewO.push("\t\t\t            <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_DIV_ADD_WISH_SAVE_AREA)));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t\t\t                <input id=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_BUTTON_ADD_WISH_SAVE)));
                ___ViewO.push("\" name=\"");
                ___ViewO.push((EJS.Scanner.to_text(WishController_BUTTON_ADD_WISH_SAVE)));
                ___ViewO.push("\" type=\"button\" value=\"");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("wishController_save"))));
                ___ViewO.push("\">\n");
                ___ViewO.push("\t\t\t            </div>\n");
                ___ViewO.push("\t\t\t        </div>\n");
                ___ViewO.push("\t\t        </div>\n");
                ___ViewO.push("\t\t    </div>\n");
                ___ViewO.push("\t    </div>\n");
                ___ViewO.push("    </div>\n");
                ___ViewO.push("</div>");
                return ___ViewO.join("");
            }
        }
    }
    catch (e) {
        e.lineNumber = null;
        throw e;
    }
}
