/* myquest-recommendation.ejs */
function (_CONTEXT, _VIEW) {
    try {
        with (_VIEW) {
            with (_CONTEXT) {
                var ___ViewO = [];
                ___ViewO.push("<div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF_ITEM)));
                ___ViewO.push("_");
                ___ViewO.push((EJS.Scanner.to_text(auditID)));
                ___ViewO.push("\" class=\"myQuestItem ");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF_ITEM)));
                ___ViewO.push("\" rowID=\"");
                ___ViewO.push((EJS.Scanner.to_text(recommendationID)));
                ___ViewO.push("\">\n");
                ___ViewO.push("    <div class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_COLUMN1)));
                ___ViewO.push("\" hoverKey=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestShelfController_HOVER_KEY_PREFIX + auditID)));
                ___ViewO.push("\">\n");
                ___ViewO.push("        <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF_COVER_WRAPPER)));
                ___ViewO.push((EJS.Scanner.to_text(auditID)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF_COVER_WRAPPER)));
                ___ViewO.push("\">\n");
                ___ViewO.push("            <div class=\"resultCover\">\n");
                ___ViewO.push("                <div>\n");
                ___ViewO.push("                ");
                var defaultImageClass50 = (digitalMediaProviderName) ? "defaultDCPIImage50" : "defaultTitleImage50";
                var defaultImageClass = (digitalMediaProviderName) ? CoverImageTemplate_DEFAULT_DCPI_IMAGE_CLASS : MyQuestController_DEFAULT_TITLE_IMAGE_CLASS;
                if (imageURL && !imageURL.empty()) {
                    ___ViewO.push("\n");
                    ___ViewO.push("                        <img border=\"0\" class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_COVERIMAGE)));
                    ___ViewO.push(" ");
                    ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_TITLE_DETAIL_LINK)));
                    ___ViewO.push(" coverImage50\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF_COVER_WRAPPER)));
                    ___ViewO.push((EJS.Scanner.to_text(index)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF_COVER_WRAPPER)));
                    ___ViewO.push((EJS.Scanner.to_text(index)));
                    ___ViewO.push("\" src=\"");
                    ___ViewO.push((EJS.Scanner.to_text(imageURL)));
                    ___ViewO.push("\"/>\n");
                    ___ViewO.push("                ");
                } else {
                    ___ViewO.push("\n");
                    ___ViewO.push("                        <img border=\"0\" class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_COVERIMAGE)));
                    ___ViewO.push(" ");
                    ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_TITLE_DETAIL_LINK)));
                    ___ViewO.push(" ");
                    ___ViewO.push((EJS.Scanner.to_text(defaultImageClass)));
                    ___ViewO.push(" ");
                    ___ViewO.push((EJS.Scanner.to_text(defaultImageClass50)));
                    ___ViewO.push("\" id=\"");
                    ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF_COVER_WRAPPER)));
                    ___ViewO.push((EJS.Scanner.to_text(index)));
                    ___ViewO.push("\" name=\"");
                    ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF_COVER_WRAPPER)));
                    ___ViewO.push((EJS.Scanner.to_text(index)));
                    ___ViewO.push("\" src=\"");
                    ___ViewO.push((EJS.Scanner.to_text(MyQuestController_PATH_TO_BLANK_COVER_IMAGE)));
                    ___ViewO.push("\"/>\n");
                    ___ViewO.push("                ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("                </div>\n");
                ___ViewO.push("            </div>\n");
                ___ViewO.push("        </div>\n");
                ___ViewO.push("        \n");
                ___ViewO.push("    </div>\n");
                ___ViewO.push("    <div class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_COLUMN2)));
                ___ViewO.push("\">\n");
                ___ViewO.push("    ");
                ___ViewO.push((EJS.Scanner.to_text(ReusableTemplates.load("ShelfSelectTemplate", {selectedShelf:shelfNumber, bibID:bibID}))));
                ___ViewO.push("\n");
                ___ViewO.push("    \n");
                ___ViewO.push("        <div id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_DIV_TITLE_INFO_PREFIX + 3)));
                ___ViewO.push("\" class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_SHELF_TITLE_INFO)));
                ___ViewO.push("\">\n");
                ___ViewO.push("            <p class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_SEARCH_RESULTS_TITLE)));
                ___ViewO.push("\" id=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_SEARCH_RESULTS_TITLE + 3)));
                ___ViewO.push("\" >\n");
                ___ViewO.push("            \t");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestController_xRecommendedY", "<span class=\"myQuestPrefixSuffixText myQuestRecommendationName\">", displayName, "</span>", "<a id=\"titleDetailLink_" + auditID + "\" class=\"searchResultsTitleLink titleDetailLink\" onclick=\"return false;\" href=\"#\">" + title + "</a>"))));
                ___ViewO.push("\n");
                ___ViewO.push("            </p>\n");
                ___ViewO.push("            ");
                if (comments) {
                    ___ViewO.push("  \n");
                    ___ViewO.push("                <p class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_RECOMMENDATION_QUOTE)));
                    ___ViewO.push("\" id=\"\">");
                    ___ViewO.push((EJS.Scanner.to_text(comments)));
                    ___ViewO.push("<img class=\"myQuestBeginQuoteIcon\" src=\"/images/icons/general/spacer.gif\"></img><img class=\"myQuestEndQuoteIcon\" src=\"/images/icons/general/spacer.gif\"></img></p>\n");
                    ___ViewO.push("                <p class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_UPDATES_TOOLBAR)));
                    ___ViewO.push("\" id=\"\"><a href=\"#\" id=\"\" class=\"");
                    ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_REPORT_ABUSE)));
                    ___ViewO.push("\" onclick=\"return false;\">");
                    ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestUpdatesController_reportAbuse"))));
                    ___ViewO.push("</a></p>\n");
                    ___ViewO.push("            ");
                }
                ___ViewO.push("\n");
                ___ViewO.push("        </div>\n");
                ___ViewO.push("    </div>\n");
                ___ViewO.push("    <div class=\"");
                ___ViewO.push((EJS.Scanner.to_text(MyQuestController_CLASS_MYQUEST_RECOMMENDATION_REMOVE)));
                ___ViewO.push("\" alt=\"");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestController_deleteThisRecommendation"))));
                ___ViewO.push("\" title=\"");
                ___ViewO.push((EJS.Scanner.to_text(MessageHelper.format("myQuestController_deleteThisRecommendation"))));
                ___ViewO.push("\">\n");
                ___ViewO.push("        <p/>\n");
                ___ViewO.push("    </div>\n");
                ___ViewO.push("\n");
                ___ViewO.push("    <div style=\"display: none;\" class=\"recordID\" value=\"");
                ___ViewO.push((EJS.Scanner.to_text(bibID)));
                ___ViewO.push("\"></div>\n");
                ___ViewO.push("    <div style=\"display: none;\" class=\"shelfNumber\" value=\"");
                ___ViewO.push((EJS.Scanner.to_text(shelfNumber)));
                ___ViewO.push("\"></div>\n");
                ___ViewO.push("</div>\n");
                return ___ViewO.join("");
            }
        }
    }
    catch (e) {
        e.lineNumber = null;
        throw e;
    }
}
